@charset "UTF-8";
/* 1° llamamos a todo lo que este en la carpeta utilities*/
/*2° llamamos a la carpeta base*/
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  font-family: "Orbitron", sans-serif;
  background-color: #252525;
  color: white;
}

/*3° llamamos a todo lo de la carpeta layout*/
header .title {
  background-color: #450505;
  color: white;
  /*margin: 20px;*/
  padding: 20px 20px 20px 5px;
  font-size: 3.75rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
header .title h1 {
  font-size: 3.75rem;
}
header .title h2 {
  font-size: 1.5rem;
}

.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 3s linear both;
  animation: text-flicker-in-glow 3s linear both;
}

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
footer {
  background-color: #414141;
  height: 30px;
  position: relative;
}
footer section {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
footer section p {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*INDEX*/
.main-index {
  height: 100vh;
  background-image: url("../assets/img/2053305638.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: white;
  position: relative;
}
.main-index section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10rem;
  width: 100%;
}
.main-index section p {
  padding: 10px 10px;
  font-size: 1.375rem;
  background-color: rgba(37, 37, 37, 0.7);
  margin-top: 15px;
  border-radius: 20px;
}
.main-index section p span {
  color: #FF0000;
}
.main-index .text-index {
  font-size: 38px;
  position: absolute;
  left: 790px;
  top: 190px;
}

/*EQUIPOS*/
.equipo {
  background-color: #1E1E1E;
  padding: 10px;
  border-radius: 20px;
}
.equipo h3 {
  font-size: 1.875rem;
  margin-bottom: 20px;
}
.equipo p {
  font-size: 1.125rem;
}

.img-equipos {
  size: cover;
  width: 287px;
  height: auto;
}
.img-equipos.img-equipos {
  grid-area: imagen;
  max-width: 50%;
  height: auto;
  display: block;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(65, 65, 65, 0.4588235294);
}

.numero-champ-constr,
.numero-champ-piloto,
.num-victorias,
.numero-piloto {
  color: #FF0000;
  font-size: 2.25rem;
}

.pais-piloto {
  color: #FFFFFF;
  opacity: 50%;
  font-size: 1rem;
}

.nombre-piloto,
.estadistica {
  font-size: 1.25rem;
}

.main-equipos section {
  padding: 20px;
}

.stats-grid {
  margin-top: 20px;
  display: grid;
  grid-template-areas: "constructores pilotos victorias" "piloto1 imagen piloto2";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  justify-items: center;
  justify-self: center;
}
.stats-grid .stat-constructores {
  grid-area: constructores;
  min-height: 100px;
  min-width: 300px;
}
.stats-grid .stat-pilotos {
  grid-area: pilotos;
  min-height: 100px;
  min-width: 300px;
}
.stats-grid .victorias-equipo {
  grid-area: victorias;
  min-height: 100px;
  min-width: 300px;
}
.stats-grid .piloto-1,
.stats-grid .piloto-2 {
  grid-area: piloto1 piloto2;
  min-height: 160px;
  min-width: 250px;
}
.stats-grid article {
  background-color: rgba(65, 65, 65, 0.4588235294);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  height: 100%;
}

/*PILOTOS*/
.container-pilotos {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 20px;
  text-align: center;
  gap: 1.25rem;
}
.container-pilotos img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container-pilotos section {
  flex: 1 1 calc(30% - 1.25rem);
  max-width: calc(30% - 1.25rem);
  box-sizing: border-box;
  padding: 30px 20px;
  text-align: center;
}
.container-pilotos section h3 {
  font-size: 30px;
  min-height: 3rem;
}

.equipo-dato {
  color: #AB0C0C;
  font-size: 1.5rem;
}

.numero-dato {
  color: #FF0000;
  font-size: 1.5rem;
}

.piloto {
  background-color: #1E1E1E;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  min-height: 31.25rem;
  transition: transform 0.9s ease, box-shadow 0.9s ease;
  overflow: hidden;
}
.piloto:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-pilotos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.25rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.info-pilotos article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #252525;
  border-radius: 40px;
  padding: 5px 15px;
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
}
.info-pilotos article .dato {
  font-size: 24px;
}
.info-pilotos article:nth-child(3) {
  grid-column: span 2;
}

/*CALENDARIO*/
.container-calendario {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  margin: 20px;
}
.container-calendario .fila-carrera {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
}
.container-calendario .fila-carrera .fecha {
  font-size: 1.25rem;
  background-color: #AF0404;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  min-width: 160px;
}
.container-calendario .fila-carrera .fecha .dia {
  font-weight: bold;
  font-size: 1.375rem;
}
.container-calendario .fila-carrera .fecha .mes {
  font-size: 1rem;
}
.container-calendario .fila-carrera .datos-carrera {
  font-size: 0.75rem;
  background-color: #414141;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.container-calendario .fila-carrera .datos-carrera p {
  font-size: 1.25rem;
}
.container-calendario .fila-carrera .datos-carrera .detalle {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  width: 100%;
}
.container-calendario .fila-carrera .datos-carrera .detalle span {
  font-size: 0.875rem;
  color: #FFFFFF;
  opacity: 50%;
}

.check-style {
  font-size: 2.375rem;
  color: rgb(20, 174, 92);
  text-align: end;
  background-color: rgba(20, 174, 92, 0.3);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*RESULTADOS*/
.conteiner-resultados {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem;
  padding: 1.25rem;
}
.conteiner-resultados table {
  color: white;
  font-size: 1.125rem;
  border-spacing: 0px;
  table-layout: fixed;
  border-collapse: separate;
  background-color: rgba(65, 65, 65, 0.5);
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 4px solid rgba(0, 0, 0, 0.9);
}
.conteiner-resultados table th {
  padding: 0.75rem 0.5rem;
  font-weight: 700;
  white-space: nowrap;
  font-size: 1.25rem;
  color: #FF0000;
}
.conteiner-resultados table thead {
  border-bottom: solid 1px rgb(65, 65, 65);
}
.conteiner-resultados table td {
  padding: 0.75rem;
  border-top: solid 1px rgb(65, 65, 65);
}
.conteiner-resultados table td:first-child {
  border-top: solid 1px rgb(65, 65, 65);
}
.conteiner-resultados table td:last-child {
  text-align: right;
}

/*4° llamamos a todo lo de la carpeta components*/
nav {
  background-color: #414141;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: underline;
}
nav a:visited {
  color: white;
}
nav a:focus,
nav a:active {
  outline: none;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  font-size: 24px;
}

/*5° llamamos todo lo que sea media query*/
@media (max-width: 1025px) {
  .main-index .text-index {
    font-size: 1.875rem;
    left: 540px;
    top: 190px;
  }
  .container-pilotos section h3 {
    font-size: 1.375rem;
    min-height: 3rem;
  }
  .equipo-dato {
    color: #AB0C0C;
    font-size: 1rem;
  }
  .numero-dato {
    color: #FF0000;
    font-size: 1rem;
  }
  .info-pilotos article .dato {
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  body header .title h1 {
    font-size: 2.25rem;
  }
  body header .title h2 {
    font-size: 1.25rem;
  }
  nav ul {
    font-size: 1.125rem;
  }
  .main-index section {
    gap: 5rem;
    width: 100%;
  }
  .main-index section p {
    padding: 10px 10px;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 20px;
  }
  .main-index .text-index {
    font-size: 1.375rem;
    position: absolute;
    left: 400px;
    top: 160px;
  }
  /* CALENDARIO */
  .container-calendario .fila-carrera .datos-carrera .detalle span {
    font-size: 0.625rem;
    color: #FFFFFF;
    opacity: 50%;
  }
  .container-calendario .fila-carrera .fecha {
    min-width: 120px;
  }
  .container-calendario .fila-carrera .fecha .dia {
    font-size: 0.875rem;
  }
  .container-calendario .fila-carrera .fecha .mes {
    font-size: 0.875rem;
  }
  .container-calendario .fila-carrera .datos-carrera p {
    font-size: 1rem;
  }
  /*EQUIPOS*/
  .stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 20px;
    grid-column-gap: 0;
    width: 100%;
    justify-items: center;
  }
  .stats-grid .img-equipos {
    max-width: 40%;
    object-fit: contain;
    grid-column: span 2;
    grid-row: 1;
  }
  .stats-grid .stat-constructores,
  .stats-grid .stat-pilotos,
  .stats-grid .victorias-equipo {
    grid-column: span 2;
    width: 60%;
    margin: 0 auto;
  }
  .stats-grid .stat-constructores.stat-constructores,
  .stats-grid .stat-pilotos.stat-constructores,
  .stats-grid .victorias-equipo.stat-constructores {
    grid-row: 2;
  }
  .stats-grid .stat-constructores.stat-pilotos,
  .stats-grid .stat-pilotos.stat-pilotos,
  .stats-grid .victorias-equipo.stat-pilotos {
    grid-row: 3;
  }
  .stats-grid .stat-constructores.victorias-equipo,
  .stats-grid .stat-pilotos.victorias-equipo,
  .stats-grid .victorias-equipo.victorias-equipo {
    grid-row: 4;
  }
  .stats-grid .piloto-1,
  .stats-grid .piloto-2 {
    grid-column: span 1;
    grid-row: 6;
  }
}
@media (max-width: 426px) {
  body header .title h1 {
    font-size: 1.75rem;
  }
  body header .title h2 {
    font-size: 0.625rem;
  }
  nav ul {
    font-size: 0.875rem;
    gap: 0.875rem;
    margin-right: 0.625rem;
    margin: 0.3125rem;
  }
  footer section p {
    font-size: 0.625rem;
    margin-right: 0.1875rem;
  }
  /* INDEX */
  .main-index section {
    gap: 1rem;
    width: 100%;
  }
  .main-index section p {
    padding: 10px 10px;
    font-size: 0.875rem;
    margin-top: 20px;
    border-radius: 20px;
  }
  .main-index .text-index {
    font-size: 1rem;
    position: absolute;
    left: 200px;
    top: 160px;
  }
  /* PILOTOS */
  .container-pilotos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container-pilotos section {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 20px 10px;
  }
  .container-pilotos img {
    width: 50%;
  }
  .container-pilotos .piloto {
    min-height: auto;
  }
  /* RESULTADOS */
  .conteiner-resultados {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0.3125rem;
  }
  .conteiner-resultados table {
    color: white;
    font-size: 0.625rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  .conteiner-resultados table th {
    padding: 0.3125rem 0.3125rem;
    font-weight: 700;
    white-space: nowrap;
    font-size: 0.625rem;
  }
  /* CALENDARIO */
  .container-calendario .fila-carrera .datos-carrera .detalle span {
    font-size: 0.5rem;
    color: #FFFFFF;
    opacity: 50%;
  }
  .container-calendario .fila-carrera .datos-carrera .detalle span:first-child {
    display: none;
  }
  .container-calendario .fila-carrera .datos-carrera .detalle span:last-child {
    display: none;
  }
  .container-calendario .fila-carrera .fecha {
    min-width: 90px;
  }
  .container-calendario .fila-carrera .fecha .mes {
    font-size: 0.625rem;
  }
  .container-calendario .fila-carrera .fecha .dia {
    font-size: 0.625rem;
  }
  .container-calendario .fila-carrera .datos-carrera p {
    font-size: 0.75rem;
  }
  .check-style {
    font-size: 1.125rem;
  }
  /*EQUIPOS*/
  body .equipo h3 {
    font-size: 1.25rem;
  }
  body .equipo p {
    font-size: 0.875rem;
  }
  body .equipo .numero-champ-constr,
  body .equipo .numero-champ-piloto,
  body .equipo .num-victorias,
  body .equipo .numero-piloto {
    font-size: 1.375rem;
  }
  body .equipo .nombre-piloto, body .equipo .estadistica {
    font-size: 1rem;
  }
  body .equipo .pais-piloto {
    font-size: 0.875rem;
  }
  .main-equipos section {
    padding: 10px;
  }
  .main-equipos .equipo .piloto-1, .main-equipos .equipo .piloto-2 {
    min-height: 6.25rem;
    min-width: 10.625rem;
  }
  .main-equipos .equipo .stats-grid {
    grid-row-gap: 20px;
  }
}
/* MEDIDA MOBILE */
@media (max-width: 376px) {
  body header .title {
    height: auto;
    padding: 10px 10px 10px 5px;
  }
  body header .title h1 {
    font-size: 1.25rem;
  }
  body header .title h2 {
    font-size: 0.625rem;
  }
  nav ul {
    font-size: 0.625rem;
    gap: 1.25rem;
    margin-right: 0.625rem;
    margin: 0.3125rem;
  }
  footer {
    height: 30px;
    position: relative;
  }
  footer section p {
    font-size: 0.625rem;
    margin-right: 0.1875rem;
  }
  .main-index {
    min-height: calc(100vh - 30px);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    color: white;
    position: relative;
  }
  .main-index section {
    gap: 1rem;
    width: 100%;
  }
  .main-index section p {
    padding: 0.625rem 0.625rem;
    font-size: 0.625rem;
    margin-top: 1.25rem;
    border-radius: 20px;
  }
  .main-index .text-index {
    font-size: 1rem;
    position: absolute;
    left: 170px;
    top: 160px;
  }
  .container-pilotos section {
    flex: 1 1 100%;
    max-width: 100%;
    padding: 20px 10px;
  }
  .container-pilotos .piloto {
    min-height: auto;
  }
  .container-pilotos img {
    width: 40%;
  }
  .conteiner-resultados table {
    color: white;
    font-size: 0.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid rgba(0, 0, 0, 0.9);
  }
  .conteiner-resultados table th {
    padding: 0.3125rem 0.3125rem;
    font-weight: 700;
    white-space: nowrap;
  }
  .conteiner-resultados table thead {
    border-bottom: solid 1px rgb(65, 65, 65);
  }
  .conteiner-resultados table td {
    padding: 0.3125rem;
    border-bottom: solid 1px rgba(65, 65, 65, 0.6);
  }
  /* CALENDARIO */
  .container-calendario .fila-carrera .datos-carrera {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .container-calendario .fila-carrera .datos-carrera p {
    font-size: 0.625rem;
  }
  .container-calendario .fila-carrera .datos-carrera .detalle {
    gap: 0.9375rem;
  }
  .container-calendario .fila-carrera .datos-carrera .detalle span {
    font-size: 0.5rem;
    color: #FFFFFF;
    opacity: 50%;
  }
  .container-calendario .fila-carrera .fecha {
    min-width: 70px;
  }
  .container-calendario .fila-carrera .fecha .mes {
    font-size: 0.5rem;
  }
  .container-calendario .fila-carrera .fecha .dia {
    font-size: 0.5rem;
  }
  .datos-carrera {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .datos-carrera p {
    font-size: 0.625rem;
  }
  .check-style {
    font-size: 1.125rem;
  }
  body {
    font-size: 0.75rem;
  }
  .main-equipos section {
    padding: 0.625rem;
  }
  .main-equipos .equipo h3 {
    font-size: 1rem;
  }
  .main-equipos .equipo p {
    font-size: 0.625rem;
  }
  .main-equipos .equipo .numero-champ-constr,
  .main-equipos .equipo .numero-champ-piloto,
  .main-equipos .equipo .num-victorias,
  .main-equipos .equipo .numero-piloto {
    font-size: 1.125rem;
  }
  .main-equipos .equipo .nombre-piloto,
  .main-equipos .equipo .estadistica {
    font-size: 0.875rem;
  }
  .main-equipos .equipo .pais-piloto {
    font-size: 0.75rem;
  }
  .main-equipos .equipo .piloto-1,
  .main-equipos .equipo .piloto-2 {
    min-height: 6.25rem;
    min-width: 8.75rem;
  }
}
@media (max-width: 321px) {
  .container-calendario .fila-carrera .datos-carrera .detalle {
    margin-top: 5px;
  }
  .conteiner-resultados {
    gap: 0.125rem;
  }
  .conteiner-resultados table {
    table-layout: fixed;
    width: 50%;
  }
  .conteiner-resultados table th {
    padding: 0.5rem 0.5rem;
    font-weight: 700;
    white-space: nowrap;
  }
  .conteiner-resultados table td {
    font-size: 0.625rem;
    padding: 0.3125rem;
  }
  .stats-grid .stat-constructores, .stats-grid .stat-pilotos, .stats-grid .victorias-equipo {
    min-height: 80px;
    min-width: auto;
  }
  body .main-equipos .equipo .piloto-1, body .main-equipos .equipo .piloto-2 {
    min-height: 80px;
    min-width: 125px;
  }
}

/*# sourceMappingURL=nuevo.css.map */
