$background-colors: (
    dark-gray: #414141,
    dark-red: #450505,
    deep-red: #AF0404,
    black-gray: #1E1E1E,
    transparent-gray: #41414175,
    pure-black: #000,
    light-gray: #252525,
    semi-transparent-gray: rgba(37, 37, 37, 0.7),
    transparent-green: rgba(20, 174, 92, 0.3),
    semi-transparent-dark-gray: rgba(65, 65, 65, 0.5)
);