header {
    .title {
        background-color: map-get($background-colors, dark-red);
        color: white;
        /*margin: 20px;*/
        padding: 20px 20px 20px 5px;
        font-size: 3.75rem;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        h1{
            font-size: 3.75rem;
        }
        h2 {
            font-size: 1.5rem;
        }
    
    }
}