.container-pilotos {
    @include flex(space-evenly, stretch, row, wrap);
    padding: 30px 20px;
    text-align: center;
    gap: 1.25rem;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    section {
        flex: 1 1 calc(30% - 1.25rem);
        max-width: calc(30% - 1.25rem);
        box-sizing: border-box;
        padding: 30px 20px;
        text-align: center;

        h3 {
            font-size: 1.375rem;
            min-height: 3rem;
        }
    }
}

.equipo-dato {
    color: #AB0C0C;
    font-size: 1rem;
}

.numero-dato {
    color: #FF0000;
    font-size: 1rem;
}

.piloto {
    background-color: map-get($background-colors, black-gray);
    border-radius: 40px;
    @include flex(space-between, center, column);
    height: auto;
    min-height: 31.25rem;
    transition: transform 0.9s ease, box-shadow 0.9s ease;
    overflow: hidden;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.info-pilotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.25rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    article {
        @include flex(flex-start, center, column);
        background-color: map-get($background-colors, light-gray);
        border-radius: 40px;
        padding: 5px 15px;
        text-align: center;
        box-sizing: border-box;
        flex-grow: 1;

        .dato {
            font-size: .75rem;
        }

        &:nth-child(3) {
            grid-column: span 2;
        }
    }
}