.main-index {
    height: 100vh;
    background-image: url('../assets/img/2053305638.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: map-get($background-colors, pure-black);
    color: white;
    position: relative;
    section {
        @include flex(center, center); 
        gap: 10rem; 
        width: 100%;
        p {
            padding: 10px 10px;
            font-size: 1.375rem;
            background-color: map-get($background-colors, semi-transparent-gray);
            margin-top: 15px;
            border-radius: 20px;
            span {
                color: #FF0000;
            }
        }
    }
    .text-index {
        font-size: 1.875rem;
        position: absolute;
        left: 540px;
        top: 190px;
    }
}