.container-calendario {
    @include flex(flex-start, stretch, column);
    gap: 30px; 
    margin: 20px;

    .fila-carrera {
        @include flex();

        .fecha {
            font-size: 1.25rem;
            background-color: map-get($background-colors, deep-red);
            @include flex(center, center, column);
            text-align: center;
            padding: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            min-width: 160px;

            .dia {
                font-weight: bold;
                font-size: 1.375rem;
            }

            .mes {
                font-size: 1rem;
            }
        }

        .datos-carrera {
            font-size: .75rem;
            background-color:map-get($background-colors, dark-gray);
            @include flex(space-between, flex-start, column);
            flex-grow: 1; 
            padding-left: 10px;
            padding-right: 10px;

            p {
                font-size: 1.25rem;
            }

            .detalle {
                @include flex(flex-start);
                gap: 30px;
                width: 100%;

                span {
                    font-size: .875rem;
                    color: #FFFFFF;
                    opacity: 50%;
                }
            }
        }
    }
}
.check-style {
    font-size: 2.375rem;
    color: rgba(20, 174, 92, 1);
    text-align: end;
    background-color: map-get($background-colors, transparent-green);
    padding: 10px;
    @include flex(center, center);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}