.equipo {
    background-color: map-get($background-colors, black-gray);
    padding: 10px;
    border-radius: 20px;
    h3 {
        font-size: 1.875rem;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.125rem;
    }
}

.img-equipos {
    size: cover;
    width: 287px;
    height: auto;
    &.img-equipos {
        grid-area: imagen;
        max-width: 50%;
        height: auto;
        display: block;
        justify-content: center;
        align-self: center;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px;
        background-color: map-get($background-colors, transparent-gray);
        }
}

.numero-champ-constr,
.numero-champ-piloto,
.num-victorias,
.numero-piloto {
    color: #FF0000;
    font-size: 2.25rem;
}

.pais-piloto {
    color: #FFFFFF;
    opacity: 50%;
    font-size: 1rem;
}

.nombre-piloto,
.estadistica {
    font-size: 1.25rem;
}

.main-equipos {
    section {
        padding: 20px;
    }
}

.stats-grid {
    margin-top: 20px;
    display: grid;
    grid-template-areas:
    "constructores pilotos victorias"
    "piloto1 imagen piloto2";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    justify-items: center;
    justify-self: center;

    .stat-constructores {
        grid-area: constructores;
        min-height: 100px;
        min-width: 300px;
    }

    .stat-pilotos {
        grid-area: pilotos;
        min-height: 100px;
        min-width: 300px;
    }

    .victorias-equipo {
        grid-area: victorias;
        min-height: 100px;
        min-width: 300px;
    }

    .piloto-1,
    .piloto-2 {
        grid-area: piloto1 piloto2;
        min-height: 160px;
        min-width: 250px;
    }

    article {
        background-color: map-get($background-colors, transparent-gray);
        border-radius: 20px;
        @include flex(center, center, column);
        text-align: center;
        height: 100%;
    }
}