/* MEDIDA MOBILE */
@media(max-width: 376px) { 


    body header .title {
        height: auto;
        padding: 10px 10px 10px 5px;
        h1{
            font-size: 1.25rem;
        }
        h2 {
        font-size: .625rem;
        }
    }
    nav {
        ul {
        font-size: .625rem;
        gap: 1.25rem;
        margin-right: .625rem;
        margin: .3125rem;
        }
    }
    footer {
        height: 30px;
        position: relative;
        section {
            p {
                font-size: .625rem;
                margin-right: .1875rem;
            }
        }
    }

// INDEX 

.main-index {
    min-height: calc(100vh - 30px);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    color: white;
    position: relative;

    section {
        gap: 1rem;
        width: 100%;

        p {
            padding: .625rem .625rem;
            font-size: .625rem;
            margin-top: 1.25rem;
            border-radius: 20px;
        }
    }

    .text-index {
        font-size: 1rem;
        position: absolute;
        left: 170px;
        top: 160px;
    }
}

// PILOTOS

.container-pilotos {

    section {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 20px 10px;
    }

    .piloto {
        min-height: auto;
    }

    img {
        width: 40%;
    }
    }

// RESULTADOS 

.conteiner-resultados {

    table {
        color: white;
        font-size: .5rem;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 2px solid rgba(0, 0, 0, 0.9);

        th {
            padding: .3125rem .3125rem;
            font-weight: 700;
            white-space: nowrap;
        }

        thead {
            border-bottom: solid 1px rgba(65, 65, 65, 1);
        }

        td {
            padding: .3125rem;
            border-bottom: solid 1px rgba(65, 65, 65, 0.6);
        }
    }
}

// CALENDARIO

/* CALENDARIO */
.container-calendario .fila-carrera .datos-carrera {
    padding-left: .25rem;
    padding-right: .25rem;
    p {
        font-size: .625rem;
    }
    .detalle {
        gap: 0.9375rem;
        span {
            font-size: .5rem;
            color: #FFFFFF;
            opacity: 50%;
        }
    }
    
    
}

.container-calendario .fila-carrera .fecha {
    min-width: 70px;
        .mes {
            font-size: .5rem;
        }
        .dia {
            font-size: .5rem;
        }

    }



.datos-carrera {
    padding-left: .25rem;
    padding-right: .25rem;

    p {
        font-size: .625rem;
    }
}

.check-style {
    font-size: 1.125rem;
}

// EQUIPOS

body {
    font-size: .75rem;
    }

    .main-equipos {
    section {
        padding: .625rem;
    }

    .equipo {
        h3 {
        font-size: 1rem;
        }

        p {
        font-size: .625rem;
        }

        .stat-constructores, .stat-pilotos, .victorias-equipo {
            min-height: 4rem;
            min-width: 15.625rem;
        }

        .numero-champ-constr,
        .numero-champ-piloto,
        .num-victorias,
        .numero-piloto {
        font-size: 1.125rem;
        }

        .nombre-piloto,
        .estadistica {
        font-size: .875rem;
        }

        .pais-piloto {
        font-size: .75rem;
        }

        .piloto-1,
        .piloto-2 {
        min-height: 6.25rem;
        min-width: 8.75rem;
        }
    }
}



}