@media (max-width: 768px) {
    body header .title {
        h1{
            font-size: 36px;
        }
        h2 {
        font-size: 20px;
        }
    }
    nav {
        ul {
        font-size: 18px; 
        }
    }

    .main-index {
        section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        width: 100%;

        p {
            padding: 10px 10px;
            font-size: 16px;
            background-color: rgba(37, 37, 37, 0.7);
            margin-top: 20px;
            border-radius: 20px;
        }
        }

        .text-index {
        font-size: 22px;
        position: absolute;
        left: 400px;
        top: 160px;
        }
    }

    /* CALENDARIO */
    .container-calendario .fila-carrera .datos-carrera .detalle span {
            font-size: 10px;
            color: #FFFFFF;
            opacity: 50%;
        
    }

    .container-calendario .fila-carrera .fecha {
        min-width: 120px;
    }

    .container-calendario .fila-carrera .fecha .dia {
        font-size: 14px;
    }

    .container-calendario .fila-carrera .fecha .mes {
        font-size: 14px;
    }

    .container-calendario .fila-carrera .datos-carrera p {
        font-size: 16px;
    }


    /*EQUIPOS*/

    .stats-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-row-gap: 20px;
        grid-column-gap: 0;
        width: 100%;
        justify-items: center;

        .img-equipos {
            max-width: 40%;
            object-fit: contain;
            grid-column: span 2;
            grid-row: 1;
        }

        .stat-constructores,
        .stat-pilotos,
        .victorias-equipo {
            grid-column: span 2;
            width: 60%;
            margin: 0 auto;

            &.stat-constructores {
            grid-row: 2;
            }

            &.stat-pilotos {
            grid-row: 3;
            }

            &.victorias-equipo {
            grid-row: 4;
            }
        }

        .piloto-1,
        .piloto-2 {
            grid-column: span 1;
            grid-row: 6;
        }
    }

}