@media(max-width: 321px) {

    footer {
        height: 1.5rem;
        position: relative;
        section {
            p {
                font-size: .5rem;
                margin-right: .1875rem;
            }
        }
    }

// CALENDARIO

.container-calendario .fila-carrera .datos-carrera .detalle {
    margin-top: 5px;
}

// RESULTADO

.conteiner-resultados {
    gap: .125rem;
    table {
        table-layout: fixed;
        width: 50%;
        th {
            padding: .5rem .5rem;
            font-weight: 700;
            white-space: nowrap;
        }
        td {
            font-size: .625rem;
            padding: .3125rem;
        }

    }
}

// EQUIPOS

/*.stats-grid {
    .stat-constructores, .stat-pilotos, .victorias-equipo {
        min-height: 80px;
        min-width: auto; 
    }
}*/

.main-equipos {

    .equipo .stats-grid{

        .stat-constructores, .stat-pilotos, .victorias-equipo {
            min-height: 3.5rem;
            min-width: 12.5rem;
        }

        .numero-champ-constr,
        .numero-champ-piloto,
        .num-victorias,
        .numero-piloto {
        font-size: 1rem;
        }

        .nombre-piloto,
        .estadistica {
        font-size: .75rem;
        }

        .pais-piloto {
            font-size: .625rem;
            }
        
        .piloto-1, .piloto-2 {
        min-height: 80px; 
        min-width: 125px;
        }
    }
}



}